@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>

<div class="site-blocks-cover inner-page" style="background-image: url('/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <h1>О НАС</h1>
                    <p>
                        Мы предлагаем своим покупателям высококачественные товары по доступным ценам, в удобно расположенных аптеках, где всегда можно получить профессиональную консультацию фармацевта. Все специалисты в наших аптеках имеют профильное фармацевтическое образование и всегда готовы проконсультировать в момент покупки.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light custom-border-bottom aos-init aos-animate" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="/images/iCdQDMhVMyc.jpg" alt="Image placeholder" class="img-fluid rounded">
                        

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">ИСТОРИЯ РАЗВИТИЯ</h2>
                </div>
                <p>
                    Аптечная сеть "Аптека" была основана в апреле 2019 года на базе государственных унитарных предприятий. 
                    Единственным акционером сети является город Минск в лице Комитета имущественных отношений.
                </p>
                <p>
                    После проведения реструктуризации и оптимизации компании сеть насчитывает 13 аптек в городе Минске .
                    За годы реформ аптеки меняли структуру и названия, но при этом неизменной 
                    оставалась наша главная задача — забота о людях.
                </p>

            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light custom-border-bottom aos-init aos-animate" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="/images/hGGeToXBhSM.jpg" alt="Image placeholder" class="img-fluid rounded">
                        

                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">ПРИНЦИПЫ РАБОТЫ</h2>
                </div>
                <p class="text-black">
                    В аптеках предусмотрены просторные торговые залы и большие внутренние помещения для хранения препаратов, 
                    изначально спроектированные по аптечным стандартам. Наша главная цель развития — улучшение 
                    качества обслуживания населения.
                </p>
                <p class="text-black">
                    Основное внимание в аптеках уделяется наличию широкого ассортимента лекарственных средств. 
                    Ассортимент постоянно корректируется и дополняется согласно потребностям населения. 
                    Мы всегда можем предложить отечественные аналоги импортных препаратов. 
                    Цель построения ассортимента аптек — максимальное удовлетворение потребностей покупателей в лекарственных средствах.
                </p>

            </div>
        </div>
    </div>
</div>
</body>
</html>